body {
  margin: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  background-color: #E4EBF1;
  height: 100%;
  min-height: 100%;
}

.mainUI {
  height: 100%;
  display: grid;
  grid-template:
    "header" 55px
    "nav"
    "content"
  ;

  .Header {
    grid-area: header;
    background-color: white;
  }

  .NavBar {
    grid-area: nav;
    background-color: #468189;
    color: white;
    border-right: 1px solid gray;
  }

  .Content {
    grid-area: content;
    background-color: white;
    border-radius: 10px;
    margin: 9px;
    padding: 10px 30px;
  }

  @media (min-width: 992px) {
    grid-template:
      "nav header" 55px
      "nav content" /
      175px auto
    ;
  }
}

.menuButton {
  color: white;
}

.menuButton:hover {
  background-color: #77ACA2;
  color: white;
}


table>thead {
  background-color: #F4E9CD !important;
}

.tableContainer {
  max-height: 450px;
}

.bg-theme-primary {
  background-color: #F4E9CD !important;
}

.btn-theme-aux {
  background-color: #F4E9CD;
  color: black;
}

.btn-theme-aux:hover {
  background-color: #e8dbba;
  color: black;
}

.btn-theme-primary {
  background-color: #032926;
  color: white;
}

.btn-theme-primary:hover {
  background-color: #0a433d;
  color: white;
}

.btn-theme-seccondary {
  background-color: #9DBEBB;
  color: black;
}

.btn-theme-seccondary:hover {
  background-color: #70a6a2;
  color: black;
}

.btn-theme-tertiary {
  background-color: #77ACA2;
  color: black;
}

.btn-theme-tertiary:hover {
  background-color: rgb(83, 143, 139);
  color: black;
}

.btn-theme-danger {
  background-color: #ce554f;
  color: white;
}

.btn-theme-danger:hover {
  background-color: #c6352e;
  color: white;
}

.text-theme-primary {
  color: #032926;
}

.text-theme-seccondary {
  color: #9DBEBB;
}

.text-theme-tertiary {
  color: #e8dbba;
}

.logo {
  max-width: 75%;
  margin-bottom: 10px;
  margin-top: 5px;
}

.login {
  width: 350px;
}

#headerButtonContent {
  font-size: 15px;
}

#dropdownMenuLink {
  width: 200px;
}

#profileIcon {
  width: 50px;
}

.outline-none:focus {
  box-shadow: none;
  outline: none;
}